<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Моё первое приложение</title>
  <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
  <h1>Flask-приложение</h1>
  <p>Это веб-приложение, созданное с Flask!</p>
  <img src="https://avatars.mds.yandex.net/i?id=4cb4523da1ddfab0d1a1bd0d2ec67f06fc927e53-10350577-images-thumbs&n=13">

  <h1>Полезные ссылки</h1>
  <ul>
    <li><a href="https://www.w3schools.com/TAGS/default.asp">HTML Element Reference</a></li>
    <li><a href="https://www.w3schools.com/css/css_background.asp">CSS Backgrounds</a></li>
  </ul>
  <table>
      <caption>Уроки</caption>>
      <tr>
          <th>Дисциплина</th>
          <th>Процент выполнения темы</th>
          <th>Процент выполнения дз</th>
          <th>Комментарии</th>
      </tr>

      <tr>
          <td>Русский язык</td>
          <td>45%</td>
          <td>80%</td>
          <td>Выучить § 9</td>
      </tr>

      <tr>
          <td>Физика</td>
          <td>65%</td>
          <td>90%</td>
          <td>Повт. §10-13</td>
      </tr>

      <tr>
          <td>История</td>
          <td>40%</td>
          <td>60%</td>
          <td>Подготовить сообщение</td>
      </tr>

      <tr>
          <td>Алгебра</td>
          <td>80%</td>
          <td>70%</td>
          <td>прочитать п.17</td>
      </tr>

      <tr>
          <td>Химия</td>
          <td>70%</td>
          <td>90%</td>
          <td>Повторить теорию</td>
      </tr>

      <tr>
          <td>Геометрия</td>
          <td>40%</td>
          <td>70%</td>
          <td>Выполнить задание в презентации</td>
      </tr>

      <tr>
          <td>Биология</td>
          <td>30%</td>
          <td>60%</td>
          <td>Изучить § 15 - 16</td>
      </tr>
</table>
</body>
</html>

