body {
    background-color: #2a52be;
    color: white;
    font-size: 20px;
    font-family: 'Courier New',Courier,monospace;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
  margin-bottom: 10px;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
}

img {
  display: block;
  margin: 0 auto 20px;
  max-width: 300px;
}

ul {
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}

ul li {
  margin: 5px 0;
}

ul a {
  color: #ffeb3b;
  text-decoration: none;
}

table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid white;
  padding: 8px;
}

th {
  background-color: #4567b0;
}

td {
  background-color: #5678c1;
}

tr:nth-child(even) td {
  background-color: #6789d2;
}